@model StockUp.Models.Entrada

@{
    ViewData["Title"] = "Details";
    Layout = "_Layout3";
}

<div id="dashboard">
<h4>Dados da entrada</h4>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Produto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Produto.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quantidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantidade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CriadoEm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CriadoEm)
        </dd>
    </dl>
</div>
<div>
	<a asp-action="Edit" class="btn btn-primary" asp-route-id="@Model?.Id">Editar</a>
    <a asp-action="Index" class="btn btn-info">Voltar</a>
</div>
</div>