@model StockUp.Models.ListaEntradas

@{
    ViewData["Title"] = "Details";
   
}

<h1>Dados do produto</h1>

<div>
    <h4>Entrada</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Quantidade)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Quantidade)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CriadoEm)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CriadoEm)
        </dd>

    </dl>
</div>
<div>
    <a asp-action="Index" class="btn btn-info">Voltar</a> |
    <a asp-action="Edit" class="btn btn-info" asp-route-id="@Model?.Id">Editar</a> 
</div>
