@model StockUp.Models.Entrada

@{
    ViewData["Title"] = "Edit";
    ListaEntradas entrada= ViewBag.data;
    List<Produto> products = ViewBag.Products;
    String error = ViewBag.error;

   
     

    string formattedDate = entrada.CriadoEm.ToString("yyyy-MM-ddTHH:mm");

    //string dateOnly = data.ToString("dd-MM-yyyy");
}

<h1>Editar dados do produto</h1>

<h4>Entrada</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="ProdutoId" class="control-label"></label>
                <select asp-for="ProdutoId" class="form-control">
                    
                    @foreach (Produto produto in products)
                    {
                        if (@produto.Id == @entrada.ProductId)
                        {
                            <option value="@produto.Id" selected>@produto.Nome</option>

                        }
                        else
                        {
                            <option value="@produto.Id">@produto.Nome</option>
                        }

                        }
                    
                </select>
                <span asp-validation-for="ProdutoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantidade" class="control-label"></label>
                <input asp-for="Quantidade" class="form-control" value="@entrada.Quantidade"/>
                <span asp-validation-for="Quantidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CriadoEm" class="control-label"></label>
                <input asp-for="CriadoEm" class="form-control" value="@formattedDate" />
                <span asp-validation-for="CriadoEm" class="text-danger"></span>
            </div>
            <div class="form-group">
                <a asp-action="Index" class="btn btn-info">Voltar</a>
                <input type="submit" value="Salvar" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
