@model StockUp.Models.Produto

@{
    ViewData["Title"] = "Delete";
    Layout = "_Layout3";
}
<div id="dashboard">

<h4>Tem a certeza que deseja deletar esse produto?</h4>
<table class="table table-striped">
    <tr>
        <td>ID</td>
        <td>@Model.Id</td>
    </tr>
    <tr>
        <td>Nome</td>
        <td>@Model.Nome</td>
    </tr>
    <tr>
        <td>Preço</td>
        <td>@Model.Preco.ToString("C", System.Globalization.CultureInfo.GetCultureInfo("pt-br"))</td>
    </tr>
    <tr>
        <td>Quantidade</td>
        <td>@Model.Quantidade</td>
    </tr>
    <tr>
        <td>Estoque mínimo</td>
        <td>@Model.EstoqueMinimo</td>
    </tr>
    <tr>
        <td>Categoria</td>
        <td>@Model.Categoria</td>
    </tr>
    <tr>
        <td>Fornecedor</td>
        <td>@Model.Fornecedor.Nome</td>
    </tr>
</table>

<form asp-action="Delete">
    <input type="hidden" asp-for="Id" />
		<a asp-action="Index" class="btn btn-primary">Cancelar</a>
		<input type="submit" value="Deletar" class="btn btn-danger" />
</form>

</div>
