@model StockUp.Models.Produto

@{
    ViewData["Title"] = "Details";
    Layout = "_Layout3";
}
<div id="dashboard">

<h4>Informações do produto</h4>
<table class="table table-striped">
    <tr>
        <td>ID</td>
        <td>@Model.Id</td>
    </tr>
    <tr>
        <td>Nome</td>
        <td>@Model.Nome</td>
    </tr>
    <tr>
        <td>Preço</td>
        <td>@Model.Preco.ToString("C", System.Globalization.CultureInfo.GetCultureInfo("pt-br"))</td>
    </tr>
    <tr>
        <td>Quantidade</td>
        <td>@Model.Quantidade</td>
    </tr>
    <tr>
        <td>Estoque mínimo</td>
        <td>@Model.EstoqueMinimo</td>
    </tr>
    <tr>
        <td>Categoria</td>
        <td>@Model.Categoria</td>
    </tr>
    <tr>
        <td>Fornecedor</td>
        <td>@Model.Fornecedor.Nome</td>
    </tr>
</table>
<a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Editar</a>
<a asp-action="Delete" asp-route-id="@Model.Id" value="Delete" class="btn btn-danger">Deletar</a>
</div>