@model IEnumerable<StockUp.Models.Produto>

@{
    ViewData["Title"] = "Index";
    Layout = "_Layout3";
}
<div id="dashboard">

<h4>Lista de produtos</h4>
<div class="search-bar">
    <form method="get" asp-action="Index">
        <input type="text" name="keyword" value="@ViewData["CurrentFilter"]" placeholder="Pesquisar" class="form-control " style="display:inline"/>
        <button type="submit" class="btn btn-primary">Pesquisar</button>
        <a asp-action="Create" class="btn btn-success">Adicionar</a>
        <a asp-action="RelatorioEstoqueMinimo" class="btn btn-warning">Relatório de Estoque Mínimo</a>
    </form>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                Preço
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                Estoque mínimo
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categoria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fornecedor)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a style="text-decoration: none;" asp-action="Details" asp-route-id="@item.Id">@item.Nome</a>
            </td>
            <td>
                @item.Preco.ToString("C", System.Globalization.CultureInfo.GetCultureInfo("pt-br"))
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstoqueMinimo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categoria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fornecedor.Nome)
            </td>
        </tr>
}
    </tbody>
</table>

</div>
