@model IEnumerable<StockUp.Models.Saida>

@{
    ViewData["Title"] = "Index";
    Layout = "_Layout3";
}

<div id="dashboard">

<h4>Lista de Saídas</h4>

<p>
    <a asp-action="Create" class="btn btn-success">Adicionar nova saída</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Produto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CriadoEm)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Produto.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CriadoEm)
            </td>
            <td>
                <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.Id">Visualizar</a> |
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>

</div>