@model IEnumerable<StockUp.Models.Fornecedor>

@{
    ViewData["Title"] = "Index";
    Layout = "_Layout3";
}
<div id="dashboard">

<style>
    table {
        width: 100%;
        border-collapse: collapse;
    }

    th, td {
        text-align: left;
        padding: 12px;
        border-bottom: 1px solid #ddd;
    }

    th {
        background-color: #f2f2f2;
        font-weight: bold;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    form {
        display: flex;
    }
</style>

<h4>Lista de Fornecedores</h4>
<div class="search-bar">
    <form method="get" asp-action="Index">
        <input type="text" name="keyword" value="@ViewData["CurrentFilter"]" placeholder="Pesquisar" class="form-control" />
        <div class="container-button">
            <button type="submit" class="btn btn-primary">Pesquisar</button>
            @* <a asp-action="Create" class="btn btn-success">Adicionar</a> *@
        </div>
    </form>
</div>
<table class="info-table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(Model => Model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(Model => Model.CriadoEm)
            </th>
        </tr>
    </thead>
    <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <a style="text-decoration: none;" asp-action="Details" asp-route-id="@item.Id">@item.Nome</a>
                    </td>
                    <td>@Html.DisplayFor(modelItem => item.CriadoEm)</td>
                </tr>
            }
    </tbody>
</table>
</div>